<!DOCTYPE html>
<!-- saved from url=(0043)http://getbootstrap.com/examples/dashboard/ -->
<html lang="en">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="shortcut icon" href="http://getbootstrap.com/assets/ico/favicon.ico"> -->

    <title>Habari</title>

    <!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
   <!-- Custom styles for Habari -->
   <link href="stylesheets/habari.css" rel="stylesheet">
    <script type="text/javascript">
      var activityData = {
        strava_data : <%- strava_data%>
      }

    </script>
</head>
  <body style="">

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="">Habari</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left">
            <li class="active"><a href="http://getbootstrap.com/examples/dashboard/#">Dashboard</a></li>
            <li><a href="http://getbootstrap.com/examples/dashboard/#">Social</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="http://getbootstrap.com/examples/dashboard/#">Settings <span class="glyphicon glyphicon-wrench"></span></a></li>
            <li><a href="http://getbootstrap.com/examples/dashboard/#">Sign Out <span class="glyphicon glyphicon-remove-circle"></span></a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-3 col-md-2">
          <ul class="nav nav-pills nav-stacked">
            <li class="active"><a class="text-center" href=""><img class="" src="images/overview.png" width="50"><br>Overview</a></li>
            <li><a class="text-center" class="text-center"href="index.html"><img class="" src="images/nikeplus-logo.png" width="50"><br>Nike+</a></li>
            <li><a class="text-center" href=""><img class="" src="images/mapmyfitness-logo.png" width="50"><br>MapMyFitness</a></li>
            <li><a class="text-center" data-toggle="modal" data-target="#myModal">Connect A Service</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-md-10 main">
		  <!-- main content goes here -->
		  <div class = "row">
		  	<div class="col-md-8">
		  		<div class="row">
				    <div class="col-md-4 center-block">
				    	<div class="panel panel-default" style="border-width:2px; border-color:red; background-color:red">
						  <div class="panel-body">
						  	<div style="position:relative; float:left; margin-top:5px;"><img class="" src="images/fire1.png" width="50" height="50"></div><span style="font-size:40px; color:white">&nbsp;<b id="s_total_calories">750</b></span>
						    <br/><p class="text-center" style="color:white"><b>Cal. burned per day</b></p>
						  </div>
						</div>
					</div>
				    <div class="col-md-4">
				    	<div class="panel panel-default" style="border-width:2px; border-color:blue; background-color:blue">
						  <div class="panel-body">
						  	<div style="position:relative; float:left; margin-top:5px;"><img class="" src="images/road1.png" width="50" height="50"></div><span style="font-size:40px; color:white">&nbsp;<b id="s_total_distance">26.4</b></span>
						    <br/><p class="text-center" style="color:white"><b>Total miles travelled</b></p>
						  </div>
						</div>
					</div>
				    <div class="col-md-4">
				    	<div class="panel panel-default" style="border-width:2px; border-color:green; background-color:green">
						  <div class="panel-body">
						  	<div style="position:relative; float:left; margin-top:5px;"><img class="" src="images/steps1.png" width="50" height="50"></div><span style="font-size:40px; color:white">&nbsp;<b id="s_total_steps">4540</b></span>
						    <br/><p class="text-center" style="color:white"><b>Steps taken this week</b></p>
						  </div>
						</div>
					</div>
				  	<div class="col-md-12"><div id="calorie_container" style="min-width: 475px; height: 300px; margin: 0 auto"></div></div>
				  	<div class="col-md-12"><div id="distance_container" style="min-width: 475px; height: 300px; margin: 0 auto"></div></div>
				  		  		 		
		  		</div>
		  	</div>
		  	<div class="col-md-4">
		  		<div class = "panel panel-default">
		  			<div class="panel-body socialfeed">
              <div class="bigrow">
                <div class="feedicon">
                  <img class="feed" src="/images/fred.png">
                </div>
                <div class="feedmessage">
                  Wow you ran a long way last week! Great job!
                </div>
              </div>
              <div class="smallrow">
                <div class="feedicon">
                  <i class="fa fa-map-marker">
                  </i>
                </div>
                <div class="feedmessage"><a href="#">Stephen Curry</a> ran 30 miles!</div>
              </div>
             
              <div class="smallrow">
                <div class="feedicon">
                  <i class="fa fa-star"></i> </div><div class="feedmessage">Awesome! You got a star for running your hundredth mile!</div>
              </div>
              <div class="smallrow">
                <div class="feedicon">
                  <i class="fa fa-comment"></i> </div><div class="feedmessage"><a href="#">Jason Calacanis</a> commented on your <a href="#">photo:</a> <br /><br /><i>That medal looks great on you!</i></div>
              </div>
              <div class="smallrow">
                <div class="feedicon">
                  <i class="fa fa-envelope"></i>
                </div><div class="feedmessage">Message from <a href="#">Usain Bolt</a>: <i><br /><br />Run this weekend?</i></div>
              </div>
              <div class="smallrow">
                <div class="feedicon">
                  <i class="fa fa-flag"></i>
                </div><div class="feedmessage">fa-flag</div>
              </div>
		  			</div>
		  		</div> 
		  	</div>
		  	
	
		  </div>
        </div>
        
      </div>
    </div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Connect a service</h4>
      </div>
      <div class="modal-body">
		<div class="row">
		  <div class="col-md-6">
				<div class="panel panel-default">
				  <div class="panel-body">Strava image</div>
				  <div class="panel-footer text-center">
                    <a href="https://www.strava.com/oauth/authorize?client_id=919&response_type=code&redirect_uri=http://localhost:3000/stravaCallback&approval_prompt=force">Stava</a>
                  </div>
				</div>  
		 </div>
		  <div class="col-md-6">
				<div class="panel panel-default center-block">
				  <div class="panel-body">FitBit image</div>
				  <div class="panel-footer text-center">FitBit</div>
				</div>  
		 </div>
	    </div>      
		<div class="row">
		  <div class="col-md-6">
				<div class="panel panel-default">
				  <div class="panel-body">
				    MapMyFitness image
				  </div>
				  <div class="panel-footer text-center">MapMyFitness</div>
				</div>  
		  </div>
		  <div class="col-md-6">
				<div class="panel panel-default">
				  <div class="panel-body">
				    LoseIt image
				  </div>
				  <div class="panel-footer text-center">LoseIt</div>
				</div>  
		  </div>
		</div>  
		
      </div>
    </div>
  </div>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <!-- <script src="./template_files/docs.min.js"></script> -->
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="javascript/habari_charts.js"></script>
    <!-- <script src="javascript/clientApi.js"></script> -->
 
</body></html>
