/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 70px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}



/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.narrow-top-margin {
	margin-top:0px;
}

.splashBackground {
  color:white;
  background-image: url('../images/background.jpg');
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:center; 
  background-size: cover;
	}
	
.blackBackground {
}