/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 70px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}



/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.narrow-top-margin {
	margin-top:0px;
}

.splashBackground {
  color:white;
  background-image: url('/images/background.jpg');
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:center; 
  background-size: cover;
	}

.socialfeed img {
    padding-right: 10px;
    height: 50px;
    float:left;
    font-size:20px; !important
}

.socialfeed div.bigrow{
    clear:both;

}
.socialfeed div.smallrow{
    clear:both;
}

.fa-star {
    color: yellow;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: orange;
}

.fa-flag {
    color: red;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: darkred;
}

.fa-gift {
    color: green;
}
.fa-map-marker {
    color: mediumvioletred;
}
.fa-comment {
    color: lightskyblue;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: mediumblue;
}

.fa-envelope {
    color: blue;
    -webkit-text-stroke-color: lightskyblue;
}

.socialfeed div {
    margin-top:10px;
    margin-bottom: 10px;
    vertical-align: bottom;
    text-align: center;
    font-size:14px;
}

.socialfeed p {

}

.socialfeed ul {
margin-left:0px;
    padding-left:0px;
}

.socialfeed li {
    margin-left:0px;
    padding-left:0px;
}

.socialfeed div.feedicon{
    float:left;
    width:20%;
    font-size: 22px;
}

.socialfeed div.feedmessage{
    float:left;
    vertical-align: bottom;
    width: 79%;
    text-align:left;
    padding-left: 5px;
    padding-right: 5px;
}

div.socialfeed {
    width: 300px;
}

.initialhide, .initialhide2{
    display:none;
}

.highlighted {
    background: #ffff00;
}

.highlighted2 {
    background: #ffff00;
}

.blackBackground {
}

.cleardiv{
    clear:both;
}

div.login{
    display:none;
}
.datepicker {z-index: 1151 !important;}
.biker_pic {width: 50px; height: 50px; overflow: hidden;}
.biker_pic img {width: 50px;}
